<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chat.uid == chatService.usuario.uid}">
        <span [ngClass]="{'badge-primary': chat.uid == chatService.usuario.uid,
                          'badge-success': chat.uid != chatService.usuario.uid}">{{chat.nombre}}</span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>
    <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" class="form-control" (keyup.enter)="enviarMensaje()">